{% extends 'base.html' %}

{% block content %}
<div class="color">
<div class='note'>
<div class='row'>
  <div class ='col'>
    <div class="card" style="width: 18rem;">
      <img src= https://lh3.googleusercontent.com/Sq6IMv-wYZdvLIzuhLQJtgD21M37W6S5LgQ2RECOEWuEZ3UPb1Be-u-ZAwljdXePvXt3qHpJzBuAL0cO4e3YuMZdMFI=s1280-w1280-h800 class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><u>PYTHON</u></h5>
        <p class="card-text">Python is a high-level, interpreted programming language known for its readability and simplicity<span id="dots">...</span><span id="more"></span></p>
        <button onclick="myFunction()" id="myBtn">Read more</button>
      </div>
    </div>
  </div>
  <div class ='col'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.freecodecamp.org/news/content/images/size/w2000/2024/05/cover-img.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><u>HTML</u></h5>
        <p class="card-text">HTML, or HyperText Markup Language, is the standard markup language used to create and design documents on the web.<span id="dot">...</span><span id="mores"> It structures content using a system of tags and elements, allowing for the organization of text, images, links, and other media. HTML forms the backbone of web pages, enabling browsers to render content in a user-friendly format.</span></p>
          <button onclick="Function()" id="myBtns">Read more</button>
      </div>
    </div>
  </div>
  <div class ='col'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/966/672/905/javascript-minimalism-wallpaper-preview.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><u>JavaScript</u></h5>
        <p class="card-text">JavaScript is a high-level, dynamic programming language primarily used for enhancing interactivity and functionality in web applications.<span id="s1">...</span><span id="d1"> It supports object-oriented programming through prototypes, allowing developers to create reusable code structures. JavaScript also features first-class functions, meaning functions can be treated as variables, passed as arguments, or returned from other functions.
          JavaScript’s rich ecosystem includes numerous libraries and frameworks, such as React, Angular, and Vue.js, which streamline the development process and enhance the capabilities of the language.  Its widespread adoption and active community contribute to its ongoing growth and relevance in the tech landscape.</p>
          <button onclick="S3()" id="m3">Read more</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9MbUlJkjo1VeT7S3n1tMl46qHQjouXZ8UsA&s" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><u>JAVA</u></h5>
        <p class="card-text">Java is a high-level, object-oriented programming language designed for portability and efficiency.<span id="s2">...</span><span id="d2"> Developed by Sun Microsystems in the mid-1990s, it allows developers to write code that can run on any device equipped with a Java Virtual Machine (JVM), making it platform-independent. Java's syntax is similar to C++, but it eliminates certain complex features, promoting simplicity and readability. It's widely used for building enterprise applications, web services, mobile apps (especially Android), and large-scale systems. With robust security features and strong community support, Java remains one of the most popular programming languages in the world.</span></p>
          <button onclick="S4()" id="m4">Read more</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://blog.appsignal.com/images/blog/2023-02/node-tools.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><u>NOTEJS</u></h5>
        <p class="card-text">Node.js is an open-source, server-side runtime environment that allows developers to execute JavaScript code outside of a web browser.<span id="s3">...</span><span id="d3"> Built on the V8 JavaScript engine from Google Chrome, Node.js enables the creation of scalable and high-performance applications, particularly for web servers and real-time applications. Its event-driven, non-blocking I/O model makes it efficient for handling multiple connections simultaneously, making it ideal for data-intensive, real-time applications.
          Node.js uses a package manager called npm (Node Package Manager), which provides access to a vast ecosystem of libraries and modules, simplifying the development process. It supports various frameworks, such as Express.js, that enhance its capabilities for building web applications. With its ability to utilize JavaScript across both client and server sides, Node.js fosters a unified development environment</span></p>
          <button onclick="S5()" id="m5">Read more</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWHXRMW8dqT4upmCDkmkhHgzRPP2T7m48o8A&s" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><u>C+</u></h5>
        <p class="card-text">C++ is a high-level, general-purpose programming language that extends the C programming language by adding object-oriented features.<span id="s4">...</span><span id="d4"> Developed by Bjarne Stroustrup in the early 1980s, C++ supports procedural, object-oriented, and generic programming paradigms, allowing for flexible and reusable code. It introduces concepts like classes, inheritance, polymorphism, and encapsulation, which enable developers to create complex systems efficiently.
          C++ is widely used in system/software development, game development, real-time simulation, and performance-critical applications due to its ability to manage low-level memory and system resources. Its performance and efficiency make it a favored choice for developing applications where speed and resource management are crucial.</span></p>
          <button onclick="S6()" id="m6">Read more</button>
      </div>
    </div>
  </div>
</div>
<div class="row">]
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://c8.alamy.com/comp/2DAF11N/ruby-inscription-against-laptop-and-code-background-learn-ruby-programming-language-computer-courses-training-2DAF11N.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><u>RUBY</u></h5>
        <p class="card-text">Ruby is a high-level, interpreted programming language known for its simplicity and productivity.<span id="s5">...</span><span id="d5"> Created by Yukihiro Matsumoto in the mid-1990s, Ruby emphasizes an elegant syntax that is easy to read and write, making it accessible for beginners and experienced developers alike. It supports multiple programming paradigms, including object-oriented, functional, and imperative programming.
          Ruby is particularly popular for web development, primarily through the Ruby on Rails framework, which facilitates rapid application development with convention over configuration. Its dynamic nature allows for flexible coding and quick prototyping. The language also boasts a vibrant community and a rich ecosystem of libraries and gems, enhancing its functionality for various applications.</span></p>
          <button onclick="S7()" id="m7">Read more</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://img.freepik.com/premium-photo/php-programming-code-abstract-technology-background_272306-152.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><u>PHP</u></h5>
        <p class="card-text">PHP (Hypertext Preprocessor) is a widely-used open-source scripting language primarily designed for web development.<span id="s6">...</span><span id="d6"> It enables developers to create dynamic and interactive web pages by embedding code directly into HTML. PHP is server-side, meaning it runs on the web server and generates HTML for the client. Known for its simplicity and flexibility, PHP integrates well with databases, making it a popular choice for building content management systems and web applications.</span></p>
        <button onclick="S8()" id="m8">Read more</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://www.shutterstock.com/image-illustration/c-abstract-concept-blue-text-260nw-487518850.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><u>C</u></h5>
        <p class="card-text">A C program is a sequence of instructions written in the C programming language, a high-level language widely used for system and application development. <span id="s7">...</span><span id="d7"...></span></p>
        <button onclick="S2()" id="m9">Read more</button>
      </div>
    </div>
  </div>
</div>
</div>





{% endblock %}