
 

    .heading{
    text-align: center;
    margin-top: 20%;
    color: red;
}
.button{
    background-color: blue;
}
.container img{
  
    margin: 35px;
    height: 200px;
    width:200px
    
     
       
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.container{
    margin-top: 50%;
    background-color: burlywood;
}
.about{
    margin-top: 50%;
}

 

*:hover{
    cursor: pointer;
    color: red;
}
.title{
    background-color: black;
  
}
.main{
    background-position: FIXED;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("C:\Users\91730\Downloads\WhatsApp Image 2024-08-23 at 13.56.33_98c5d473.jpg")
    
}
.EXPERIENCE{
    margin-top: 10%;
    margin-left: 10px;
}